<div *ngIf="!loading">

  <button class="add-board">
    <strong>+</strong>
    Add new
  </button>

  <div
    class="board-block"
    *ngFor="let board of dashboardService.boards;">
    <p>{{board.title}}</p>
    <p>{{board.date | date:'short'}}</p>
    <button class="delete-board" (click)="removeBoard(board.id)">x</button>
  </div>


</div>

<div *ngIf="loading">Loading...</div>
