* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: 1440px;
}

div {
  display: flex;
  flex-flow: row wrap;

  .add-board {
    width: 198px;
    height: 145px;
    background-color: gray;
    margin: 20px 21px 103px 88px;
    cursor: pointer;
    border: none;
    &:hover{
      background-color: greenyellow;
    }
  }

  .board-block {
    width: 240px;
    height: 185px;
    background-color: gray;
    margin-left: 67px;
    margin-bottom: 83px;
    padding: 25px 20px;
    box-sizing: border-box;
    cursor: pointer;
    &:hover{
      background-color: gray;
    }
  }

  .delete-board {
    width: 20px;
    height: 20px;
    background-color: gray;
    margin: 20px 21px 103px 88px;
    cursor: pointer;
    border: none;
    &:hover{
      background-color: #ff2f2f;
    }
  }
}

